$text-white: white;
$main-bcg-color: #a09999;
$second-color: #736862;

* {
  padding: 0%;
  margin: 0;
  font-family: Arial;
  box-sizing: border-box;
}

@mixin section-size {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

body {
  background-color: $main-bcg-color;
}

.main {
  height: 100vh;
  background: url('../images/hme-page/005.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

// .header {
//   padding-top: 40px;
//   color: white;
//   font-size: 12px;
//   font-weight: 500;
//   line-height: 1.55;
//   letter-spacing: 2px;
//   position: inherit;
//   text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);

//   @media (max-width: 1100px) {
//     text-align: center;
//   }
// }

.header {
  height: 100px;
  background-color: $second-color;

  &__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;

  }

  &__logo {
    img {
      height: 100px;
    }
  }

  &__text {
    padding-top: 40px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.55;
    letter-spacing: 2px;
    position: inherit;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
  }
}

.main__text {
  color: $text-white;
  font-size: 38px;
  height: 100%;
  max-width: 630px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);

  @media (max-width: 1100px) {
    text-align: center;
    max-width: 100%;
  }

  @media (max-width: 500px) {
    height: auto;
    padding-top: 100px;
  }
}

.main__text-wrap {
  @include section-size;
  height: 100%;
  position: relative;
}

.main__filter {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
}

.request-bcg {
  background-color: $main-bcg-color;
}

.request {
  @include section-size;

  padding: 100px 16px;

  &__text-wrap {
    display: flex;
    gap: 160px;
    padding-top: 240px;

    @media (max-width:800px) {
      flex-direction: column;
      gap: 40px;
      padding-top: 80px;
    }
  }

  &__btn-wrap {
    display: flex;
    justify-content: center;
    gap: 10px;

    @media (max-width:750px) {
      flex-direction: column;
    }
  }

  &__info-block-wrap {
    display: flex;
    justify-content: space-between;

    @media (max-width:1050px) {
      flex-direction: column;
      gap: 40px;
    }
  }

  &__info-block-title {
    position: relative;
    display: block;
    color: $text-white;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 60px;

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      background-color: #c4c4c4;
      ;
      width: 70%;
      bottom: -25px;
    }

    &::after {
      position: absolute;
      content: "01";
      color: $text-white;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 2px;
      padding-left: 10px;
      top: -10px;
    }
  }

  &__info-block_second-title {
    &::after {
      content: "02";
    }
  }

  &__info-block-description {
    display: block;
    max-width: 400px;
    color: $text-white;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
  }
}

.btn {
  text-decoration: none;
  padding: 20px 60px;
  border: 3px solid $second-color;
  outline: none;
  height: max-content;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}

.btn_request {
  background-color: $text-white;
  color: $second-color;
  font-weight: 700;
  border-color: $text-white;

  &:hover {
    background-color: transparent;
    color: $text-white;
  }
}

.btn_link {
  color: $second-color;
  font-weight: 700;

  &:hover {
    background-color: $second-color;
    color: $text-white;
  }
}

.section-left-text {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  letter-spacing: 2px;
  color: $text-white;
  font-size: 12px;
  font-weight: 600;
  text-align: right;

  @media (max-width:800px) {
    writing-mode: inherit;
    transform: rotate(0);
    text-align: center;
  }
}

.goal {
  height: 70vh;
  background: url('../images/hme-page/005.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &__text-wrap {
    @include section-size;

    display: flex;
    justify-content: flex-end;
    padding-top: 100px;

  }

  &__text {
    max-width: 470px;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;
  }

  &__text-bcg {
    padding: 16px;
    background-color: rgba(255, 247, 247, 0.9);
  }
}

.why-bcg {
  background: $main-bcg-color;
}

.why {
  @include section-size;
  display: flex;
  gap: 160px;
  padding: 100px 16px;

  @media (max-width:800px) {
    flex-direction: column;
    gap: 40px;
    padding: 40px 16px;
  }

  &__text-wrap {
    max-width: 900px;
    margin: 0 auto;
  }

  &__info-block-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width:800px) {
      justify-content: center;
    }
  }

  &__info-block {
    max-width: 400px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    color: $text-white;
    font-size: 15px;
    line-height: 1.55;
    font-weight: 400;
    border-bottom: 1px solid $text-white;
  }
}

.feedback {
  @include section-size;
  display: flex;
  gap: 160px;
  padding-bottom: 150px;

  @media (max-width:800px) {
    flex-direction: column;
    gap: 40px;
    padding-bottom: 40px;
    padding-top: 80px;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    width: 100%;
    justify-content: space-between;
    padding: 80px;
    gap: 60px;

    @media (max-width:800px) {
      padding: 20px;
      justify-content: center;
    }
  }

  &__title {
    padding-bottom: 100px;

    @media (max-width:800px) {

      padding-bottom: 0;
    }
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    color: #414141;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
  }

  &__img {
    font-size: 80px;
    line-height: 66px;
    color: #c4c4c4;
  }



  &__text {
    margin-bottom: 40px;
  }

  &__link {
    color: #ff8562;
    text-decoration: none;
  }
}

.info-block {
  @include section-size;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;

  @media (max-width: 810px) {
    justify-content: center
  }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 360px;
  }

  &__title {
    color: $text-white;
    font-size: 26px;
    line-height: 1.55;
    font-weight: 400;
  }

  &__under-title {
    color: $text-white;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 60px;
  }

  &__info-block {
    max-width: 400px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    color: $text-white;
    font-size: 17px;
    line-height: 1.55;
    font-weight: 400;
    border-bottom: 1px solid #c4c4c4;
    min-height: 64px;
  }

  &__price {
    display: flex;
    justify-content: flex-end;
  }

  &__price-value {
    color: $text-white;
    font-size: 70px;
    line-height: 1.2;
    font-weight: 400;
  }

  &__price-type {
    color: #c4c4c4;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 500;
    letter-spacing: 2px;
    flex-shrink: 0;
  }

  &__price-wrap {
    display: flex;
    justify-content: space-between;
    gap: 4px;
  }

  &_position {
    margin-bottom: 40px;
  }

  &__price-description {
    color: $text-white;
    font-size: 13px;
    line-height: 1.55;
    font-weight: 400;
    align-self: flex-end;
    max-width: 200px;
    text-align: right;
  }

  &__price-consultation {
    max-width: 100%;
  }
}

.condition {
  @include section-size;
  display: flex;
  gap: 160px;
  padding: 100px 16px;

  @media (max-width: 800px) {
    flex-direction: column;
    gap: 60px;
  }

  &__left-text {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 400;
    color: $text-white;
  }

  &__procent {
    display: block;
    color: $text-white;
    font-size: 51px;
    font-weight: 400;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c4c4c4;
  }

  &__description {
    color: $text-white;
    font-size: 14px;
    font-weight: 400;
  }

  &__item-wrap {
    display: flex;
    flex-direction: column;
  }

  &__wrap {
    display: flex;
    max-width: 29%;
    gap: 12px;

    @media (max-width: 1050px) {
      max-width: 45%;
    }

    @media (max-width: 819px) {
      max-width: 100%;
      flex-direction: column;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 819px) {
      justify-content: center;
      gap: 60px;
    }
  }

  &__description-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.project-map {
  @include section-size;
  display: flex;
  gap: 160px;
  padding-bottom: 135px;

  @media (max-width: 800px) {
    flex-direction: column;
    gap: 60px;
    padding-bottom: 60px;
  }

  &__wrap-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;

    @media (max-width: 1050px) {
      justify-content: center;
    }
  }

  &__item {
    flex-basis: 220px;

    @media (max-width: 530px) {
      flex-basis: 90%;
    }
  }

  &__item-title-wrap {
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #c4c4c4;
  }

  &__item-title-title,
  &__item-title-number {
    font-size: 16px;
    font-weight: 500;
  }

  &__item-title-number {
    color: $text-white;
  }

  &__item-title-text {
    color: $text-white;
    flex-grow: 1;
    text-align: center;
  }

  &__description {
    color: $text-white;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
  }

  &__right-block {
    max-width: 800px;
  }
}

.right-text {
  color: white;
  font-size: 45px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 42px;

  @media (max-width:1050px) {
    font-size: 35px;
    text-align: center;
  }

  @media (max-width:750px) {
    font-size: 24px;
  }
}

.about {
  @include section-size;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 100px 0;

  @media (max-width: 800px) {
    padding: 40px 0;
  }

  &__item {
    padding: 36px;
    background-color: #736862;
    justify-content: center;
    flex-grow: 1;

    &_year {
      display: flex;
      flex-direction: row;
      width: 261px;
      font-size: 18px;
      align-items: center;

      @media (max-width: 870px) {
        width: 100%;
      }
    }
  }

  &__item_width {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 870px) {
      max-width: 100%;
    }
  }

  &__item-number {
    color: #ffffff;
    font-size: 70px;
    line-height: 1.55;
    font-weight: 300;
  }

  &__item-text {
    display: block;
    max-width: 630px;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
  }

  &__items-wrap {
    display: flex;
    gap: 40px;

    @media (max-width: 870px) {
      flex-direction: column;
    }

    &_size {
      min-height: 207px;
    }
  }
}

.short-form {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 16px 140px;
}

.form {

  &__texarea {
    display: block;
    border: none;
    margin-bottom: 50px;
    outline: none;
    padding-top: 20px;
    width: 100%;
    border-bottom: 1px solid rgb(204, 204, 204);
    background-color: $main-bcg-color;
    color: $text-white;
  }

  &__title {
    color: $text-white;
    font-size: 20px;
    display: block;
  }

  &__under-title {
    display: block;
    font-size: 14px;
    color: $text-white;
    font-weight: 300;
    padding-top: 5px;
  }

  &__select {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cccccc;
    background-color: $main-bcg-color;
    font-size: 16px;
    color: $text-white;
  }

  &__btn {
    display: block;
    background-color: $second-color;
    color: $text-white;
    margin: 0 auto;

    &:hover {
      background-color: $text-white;
      color: $second-color;
      border-color: $text-white;
    }
  }
}

.project-main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 70vh;
  background: url('../../images/hme-page/005.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  line-height: 1.17;
  color: white;

  &__text {
    position: inherit;
    font-weight: 600;
    font-size: 72px;

    @media (max-width: 600px) {
      font-size: 34px;
    }

  }
}

.attention {
  @include section-size;

  .right-text {
    font-size: 26px;
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
    padding: 75px 0 100px;
  }
}

.slider {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  padding: 0 16px 60px;

  @media (max-width: 950px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 760px;
    height: 760px;
    object-fit: cover;
    cursor: zoom-in;

    @media (max-width: 1200px) {
      width: 560px;
      height: 560px;
    }

    @media (max-width: 650px) {
      width: 100%;
      height: 360px;
    }
  }

  &__title {
    display: block;
    font-size: 24px;
    line-height: 1.35;
    margin-bottom: 18px;
    color: $text-white;
  }

  &__description {
    color: $text-white;
    font-size: 14px;
    line-height: 1.55;
  }

  &__tips {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    color: $text-white;
    padding-bottom: 50px;
  }

  &__small-imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @media (max-width: 1200px) {
      max-width: 560px;
    }

    @media (max-width: 650px) {
      width: 100%;
    }
  }

  &__small-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 2px solid $second-color;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
}

.big-slider {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: white;
  display: none;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content-wrap {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__nav {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    width: 100%;
  }

  &__left-btn,
  &__right-btn {
    width: 60px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      transform: scale(1.1, 1.1);
    }
  }

  &__close {
    position: absolute;
    width: 40px;
    top: 50px;
    right: 50px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      transform: rotate(30deg);
    }
  }

  &__left-btn {
    transform: rotate(180deg);

    &:hover {
      transform: scale(1.1, 1.1) rotate(180deg);
    }
  }
}

.animation-show {
  animation: show 0.5s forwards;
  opacity: 0;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animation-swipe-right {
  animation: swipe-right 0.4s forwards;
}

.animation-swipe-left {
  animation: swipe-left 0.4s forwards;
}

@keyframes swipe-right {
  0% {}

  50% {
    transform: translateX(-500px);
    opacity: 0;
  }

  51% {
    transform: translateX(+500px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes swipe-left {
  0% {}

  50% {
    transform: translateX(+500px);
    opacity: 0;
  }

  51% {
    transform: translateX(-500px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.instagram {
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 560px;
    margin: 0 auto;
    gap: 20px;
    padding: 0 16px;
    text-align: center;
    color: $text-white;
  }
}

.video {
  max-width: 760px;
  margin: 0 auto;
  padding: 150px 16px 70px;

  @media (max-width: 800px) {
    padding: 60px 16px 60px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 16px 0;
  background-color: $second-color;

  &__right,
  &__mail {
    font-size: 14px;
    color: #000;
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: 600;
  }

  &__mail a {
    text-decoration: none;
    color: $text-white;
  }
}