* {
  padding: 0%;
  margin: 0;
  font-family: Arial;
  box-sizing: border-box;
}

body {
  background-color: #a09999;
}

.main {
  height: 100vh;
  background: url("../images/hme-page/005.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  height: 100px;
  background-color: #736862;
}
.header__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}
.header__logo img {
  height: 100px;
}
.header__text {
  padding-top: 40px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 2px;
  position: inherit;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
}

.main__text {
  color: white;
  font-size: 38px;
  height: 100%;
  max-width: 630px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1100px) {
  .main__text {
    text-align: center;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .main__text {
    height: auto;
    padding-top: 100px;
  }
}

.main__text-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  height: 100%;
  position: relative;
}

.main__filter {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
}

.request-bcg {
  background-color: #a09999;
}

.request {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  padding: 100px 16px;
}
.request__text-wrap {
  display: flex;
  gap: 160px;
  padding-top: 240px;
}
@media (max-width: 800px) {
  .request__text-wrap {
    flex-direction: column;
    gap: 40px;
    padding-top: 80px;
  }
}
.request__btn-wrap {
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 750px) {
  .request__btn-wrap {
    flex-direction: column;
  }
}
.request__info-block-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1050px) {
  .request__info-block-wrap {
    flex-direction: column;
    gap: 40px;
  }
}
.request__info-block-title {
  position: relative;
  display: block;
  color: white;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 60px;
}
.request__info-block-title::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #c4c4c4;
  width: 70%;
  bottom: -25px;
}
.request__info-block-title::after {
  position: absolute;
  content: "01";
  color: white;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-left: 10px;
  top: -10px;
}
.request__info-block_second-title::after {
  content: "02";
}
.request__info-block-description {
  display: block;
  max-width: 400px;
  color: white;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

.btn {
  text-decoration: none;
  padding: 20px 60px;
  border: 3px solid #736862;
  outline: none;
  height: max-content;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}

.btn_request {
  background-color: white;
  color: #736862;
  font-weight: 700;
  border-color: white;
}
.btn_request:hover {
  background-color: transparent;
  color: white;
}

.btn_link {
  color: #736862;
  font-weight: 700;
}
.btn_link:hover {
  background-color: #736862;
  color: white;
}

.section-left-text {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  letter-spacing: 2px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-align: right;
}
@media (max-width: 800px) {
  .section-left-text {
    writing-mode: inherit;
    transform: rotate(0);
    text-align: center;
  }
}

.goal {
  height: 70vh;
  background: url("../images/hme-page/005.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.goal__text-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: flex-end;
  padding-top: 100px;
}
.goal__text {
  max-width: 470px;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
}
.goal__text-bcg {
  padding: 16px;
  background-color: rgba(255, 247, 247, 0.9);
}

.why-bcg {
  background: #a09999;
}

.why {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  gap: 160px;
  padding: 100px 16px;
}
@media (max-width: 800px) {
  .why {
    flex-direction: column;
    gap: 40px;
    padding: 40px 16px;
  }
}
.why__text-wrap {
  max-width: 900px;
  margin: 0 auto;
}
.why__info-block-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .why__info-block-wrap {
    justify-content: center;
  }
}
.why__info-block {
  max-width: 400px;
  padding-bottom: 12px;
  margin-bottom: 12px;
  color: white;
  font-size: 15px;
  line-height: 1.55;
  font-weight: 400;
  border-bottom: 1px solid white;
}

.feedback {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  gap: 160px;
  padding-bottom: 150px;
}
@media (max-width: 800px) {
  .feedback {
    flex-direction: column;
    gap: 40px;
    padding-bottom: 40px;
    padding-top: 80px;
  }
}
.feedback__wrap {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  width: 100%;
  justify-content: space-between;
  padding: 80px;
  gap: 60px;
}
@media (max-width: 800px) {
  .feedback__wrap {
    padding: 20px;
    justify-content: center;
  }
}
.feedback__title {
  padding-bottom: 100px;
}
@media (max-width: 800px) {
  .feedback__title {
    padding-bottom: 0;
  }
}
.feedback__text-wrap {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  color: #414141;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}
.feedback__img {
  font-size: 80px;
  line-height: 66px;
  color: #c4c4c4;
}
.feedback__text {
  margin-bottom: 40px;
}
.feedback__link {
  color: #ff8562;
  text-decoration: none;
}

.info-block {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
@media (max-width: 810px) {
  .info-block {
    justify-content: center;
  }
}
.info-block__item {
  display: flex;
  flex-direction: column;
  max-width: 360px;
}
.info-block__title {
  color: white;
  font-size: 26px;
  line-height: 1.55;
  font-weight: 400;
}
.info-block__under-title {
  color: white;
  font-size: 16px;
  line-height: 1.55;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 60px;
}
.info-block__info-block {
  max-width: 400px;
  padding-bottom: 12px;
  margin-bottom: 12px;
  color: white;
  font-size: 17px;
  line-height: 1.55;
  font-weight: 400;
  border-bottom: 1px solid #c4c4c4;
  min-height: 64px;
}
.info-block__price {
  display: flex;
  justify-content: flex-end;
}
.info-block__price-value {
  color: white;
  font-size: 70px;
  line-height: 1.2;
  font-weight: 400;
}
.info-block__price-type {
  color: #c4c4c4;
  font-size: 16px;
  line-height: 1.55;
  font-weight: 500;
  letter-spacing: 2px;
  flex-shrink: 0;
}
.info-block__price-wrap {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}
.info-block_position {
  margin-bottom: 40px;
}
.info-block__price-description {
  color: white;
  font-size: 13px;
  line-height: 1.55;
  font-weight: 400;
  align-self: flex-end;
  max-width: 200px;
  text-align: right;
}
.info-block__price-consultation {
  max-width: 100%;
}

.condition {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  gap: 160px;
  padding: 100px 16px;
}
@media (max-width: 800px) {
  .condition {
    flex-direction: column;
    gap: 60px;
  }
}
.condition__left-text {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: 400;
  color: white;
}
.condition__procent {
  display: block;
  color: white;
  font-size: 51px;
  font-weight: 400;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #c4c4c4;
}
.condition__description {
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.condition__item-wrap {
  display: flex;
  flex-direction: column;
}
.condition__wrap {
  display: flex;
  max-width: 29%;
  gap: 12px;
}
@media (max-width: 1050px) {
  .condition__wrap {
    max-width: 45%;
  }
}
@media (max-width: 819px) {
  .condition__wrap {
    max-width: 100%;
    flex-direction: column;
  }
}
.condition__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 819px) {
  .condition__items {
    justify-content: center;
    gap: 60px;
  }
}
.condition__description-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-map {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  gap: 160px;
  padding-bottom: 135px;
}
@media (max-width: 800px) {
  .project-map {
    flex-direction: column;
    gap: 60px;
    padding-bottom: 60px;
  }
}
.project-map__wrap-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 1050px) {
  .project-map__wrap-items {
    justify-content: center;
  }
}
.project-map__item {
  flex-basis: 220px;
}
@media (max-width: 530px) {
  .project-map__item {
    flex-basis: 90%;
  }
}
.project-map__item-title-wrap {
  display: flex;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #c4c4c4;
}
.project-map__item-title-title, .project-map__item-title-number {
  font-size: 16px;
  font-weight: 500;
}
.project-map__item-title-number {
  color: white;
}
.project-map__item-title-text {
  color: white;
  flex-grow: 1;
  text-align: center;
}
.project-map__description {
  color: white;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}
.project-map__right-block {
  max-width: 800px;
}

.right-text {
  color: white;
  font-size: 45px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 42px;
}
@media (max-width: 1050px) {
  .right-text {
    font-size: 35px;
    text-align: center;
  }
}
@media (max-width: 750px) {
  .right-text {
    font-size: 24px;
  }
}

.about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 100px 0;
}
@media (max-width: 800px) {
  .about {
    padding: 40px 0;
  }
}
.about__item {
  padding: 36px;
  background-color: #736862;
  justify-content: center;
  flex-grow: 1;
}
.about__item_year {
  display: flex;
  flex-direction: row;
  width: 261px;
  font-size: 18px;
  align-items: center;
}
@media (max-width: 870px) {
  .about__item_year {
    width: 100%;
  }
}
.about__item_width {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 870px) {
  .about__item_width {
    max-width: 100%;
  }
}
.about__item-number {
  color: #ffffff;
  font-size: 70px;
  line-height: 1.55;
  font-weight: 300;
}
.about__item-text {
  display: block;
  max-width: 630px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}
.about__items-wrap {
  display: flex;
  gap: 40px;
}
@media (max-width: 870px) {
  .about__items-wrap {
    flex-direction: column;
  }
}
.about__items-wrap_size {
  min-height: 207px;
}

.short-form {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 16px 140px;
}

.form__texarea {
  display: block;
  border: none;
  margin-bottom: 50px;
  outline: none;
  padding-top: 20px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  background-color: #a09999;
  color: white;
}
.form__title {
  color: white;
  font-size: 20px;
  display: block;
}
.form__under-title {
  display: block;
  font-size: 14px;
  color: white;
  font-weight: 300;
  padding-top: 5px;
}
.form__select {
  width: 100%;
  padding: 20px 0;
  margin-bottom: 40px;
  border: none;
  outline: none;
  border-bottom: 1px solid #cccccc;
  background-color: #a09999;
  font-size: 16px;
  color: white;
}
.form__btn {
  display: block;
  background-color: #736862;
  color: white;
  margin: 0 auto;
}
.form__btn:hover {
  background-color: white;
  color: #736862;
  border-color: white;
}

.project-main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 70vh;
  background: url("../../images/hme-page/005.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  line-height: 1.17;
  color: white;
}
.project-main__text {
  position: inherit;
  font-weight: 600;
  font-size: 72px;
}
@media (max-width: 600px) {
  .project-main__text {
    font-size: 34px;
  }
}

.attention {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
.attention .right-text {
  font-size: 26px;
  max-width: 760px;
  margin: 0 auto;
  text-align: center;
  padding: 75px 0 100px;
}

.slider {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  padding: 0 16px 60px;
}
@media (max-width: 950px) {
  .slider {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
.slider__text-wrap {
  display: flex;
  flex-direction: column;
}
.slider__img {
  width: 760px;
  height: 760px;
  object-fit: cover;
  cursor: zoom-in;
}
@media (max-width: 1200px) {
  .slider__img {
    width: 560px;
    height: 560px;
  }
}
@media (max-width: 650px) {
  .slider__img {
    width: 100%;
    height: 360px;
  }
}
.slider__title {
  display: block;
  font-size: 24px;
  line-height: 1.35;
  margin-bottom: 18px;
  color: white;
}
.slider__description {
  color: white;
  font-size: 14px;
  line-height: 1.55;
}
.slider__tips {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  color: white;
  padding-bottom: 50px;
}
.slider__small-imgs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 1200px) {
  .slider__small-imgs {
    max-width: 560px;
  }
}
@media (max-width: 650px) {
  .slider__small-imgs {
    width: 100%;
  }
}
.slider__small-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 2px solid #736862;
  cursor: pointer;
  transition: 0.5s;
}
.slider__small-img:hover {
  transform: scale(1.1, 1.1);
}

.big-slider {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: white;
  display: none;
}
.big-slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.big-slider__content-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.big-slider__nav {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  width: 100%;
}
.big-slider__left-btn, .big-slider__right-btn {
  width: 60px;
  cursor: pointer;
  transition: 0.4s;
}
.big-slider__left-btn:hover, .big-slider__right-btn:hover {
  transform: scale(1.1, 1.1);
}
.big-slider__close {
  position: absolute;
  width: 40px;
  top: 50px;
  right: 50px;
  cursor: pointer;
  transition: 0.4s;
}
.big-slider__close:hover {
  transform: rotate(30deg);
}
.big-slider__left-btn {
  transform: rotate(180deg);
}
.big-slider__left-btn:hover {
  transform: scale(1.1, 1.1) rotate(180deg);
}

.animation-show {
  animation: show 0.5s forwards;
  opacity: 0;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation-swipe-right {
  animation: swipe-right 0.4s forwards;
}

.animation-swipe-left {
  animation: swipe-left 0.4s forwards;
}

@keyframes swipe-right {
  50% {
    transform: translateX(-500px);
    opacity: 0;
  }
  51% {
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes swipe-left {
  50% {
    transform: translateX(500px);
    opacity: 0;
  }
  51% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.instagram__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 560px;
  margin: 0 auto;
  gap: 20px;
  padding: 0 16px;
  text-align: center;
  color: white;
}

.video {
  max-width: 760px;
  margin: 0 auto;
  padding: 150px 16px 70px;
}
@media (max-width: 800px) {
  .video {
    padding: 60px 16px 60px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 16px 0;
  background-color: #736862;
}
.footer__right, .footer__mail {
  font-size: 14px;
  color: #000;
  line-height: 26px;
  letter-spacing: 1px;
  font-weight: 600;
}
.footer__mail a {
  text-decoration: none;
  color: white;
}